.docker/db
.docker/tmp
.env
/vendor/
src/class/ConfigBanco.php
**/node_modules/**
**/webpack/**
**/certificate/**
.phpunit.cache
.phpunit.result.cache
composer.lock
test.php
test_shipping.php
test_payment.php
crontab.php
test_crontab.php
samples/*
**/downloads/**